@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

.land-screen {
  height: fit-content;
  overflow: auto;
  height: 100vh !important;
}

.handwritten {
  font-family: 'Nanum Pen Script', cursive;
}

.yc__parent {
  min-height: 400px;
  display: flex;
  height: 100%;
  width: 100%;
}
