@tailwind base;
@tailwind components;
@tailwind utilities;

.land-screen {
  height: fit-content;
  overflow: auto;
  height: 100vh !important;
}

.yc__parent {
  min-height: 400px;
  display: flex;
  height: 100%;
  width: 100%;
}
